* {
  background-color: #fefefe;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  background-color: inherit;
}
h1 {
  font-size: 4.5rem;
  line-height: 4.6rem;
}
li {
  display: inline;
  font-size: 1rem;
}
header {
  box-sizing: border-box;
  width: 100vw;
  height:8rem;
  background-color: #fefefe;
  position: sticky;
  top: 0;
  padding: 1rem;
  box-shadow: 0px 0px 19px 0px #aaa;
}

.nav-button {
    box-sizing: border-box;
    text-decoration:none;
    margin: 1rem;
    padding: 1rem;
    background-color: #eeeeee;
    border-radius: 5rem;
    text-align: center;
    vertical-align: middle;
    padding: 1.5rem;
}
.nav-button:hover {
    background-color: lightgray;
}

#nav-button-text {
    box-sizing: border-box;
    text-decoration:none;
    color: black;
    font-size: 1.8rem;
    text-align: center;
}

#testimonials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

.Emoji-Card {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.Emoji{
    width:70px;
    height:70px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(246, 237, 255);
    border-radius: 100%;
    z-index: 1;
}

.Emoji>p{
    display: inline;
    font-size: 40px;
    background-color: transparent;
}

.Card-Light {
  box-sizing: border-box;
  max-width: 200px;
  border-radius: 2rem;
  color: rgb(54, 0, 102);
  background-color: rgb(246, 237, 255);
  padding: 35px;
}

.Card-Dark {
    color: #fefefe;
    background-color: rgb(54, 0, 102);
    padding: 3.5rem;
  }

.highlight {
  background: -webkit-linear-gradient(rgb(243, 244, 225), rgb(245, 254, 188));
}

.splash {
  width: 100vw;
  height:fit-content;
  display: flex;
  flex-direction: column;
  padding-left: 3.5rem;
}
#splash-Text {
  min-width: 55vw;
  min-height: fit-content;
}
#splash-img {
  max-height: 80vh;
}

@media only screen and (min-width: 499px) {
  .splash {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
  }

  #splash-Text {
    padding-top: 5vh;
    grid-column: 1 2;
    grid-row: 1 2;
  }

  #splash-img {
    grid-column: 2 3;
    grid-row: 1 3;
  }
  #splash-button {
    grid-column: 1 2;
    grid-row: 2 3;
  }
}

#testimonial1 {
    margin-top: -35px;
}